{% extends "base.html" %} {% block content %}
<header>
  <h1 class="text-center">Login</h1>
</header>

<main class="container mt-5">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
      <legend class="visually-hidden">Register Form</legend>

      <label for="username" class="form-label">Username:</label>
      <input
        type="text"
        id="username"
        class="form-control mb-3"
        placeholder="Enter your username"
        required
      />

      <label for="password" class="form-label">Password:</label>
      <input
        type="password"
        id="password"
        class="form-control mb-3"
        placeholder="Enter your password"
        required
      />

      <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>

      <button type="submit" class="btn btn-primary w-100">Login</button>
    </fieldset>
  </form>
</main>
{% endblock %}
